*{margin: 0;padding: 0;
}

body{
    /* background: linear-gradient(to left, brown, burlywood); */
    background-image: url(../img/cafe.jpg);
}

.posicao{
    text-align: center;
}

/* pagina principal*/

#principal {width: 960px;margin: 0 auto;}

#cabecalho{
    height:125px;
    padding:5px;
    background: url(../admin/img/bemvindo.png)no-repeat;
}  
#titulo_topo{
    width: 480px;
    height: 77px;
    margin: 15px 0 0 285px;
    float: left;
    font-size: 12pt;
}

#titulo_topo a{
    text-decoration: none;
    border: fixed 1px white;
    color: blue;
    background: white;
    border-radius: 7px;
}
#titulo_topo a:hover{
    color: white;
    background: blue;
}


#corpo{width: 970px;
overflow: hidden;}

#esquerdo{
    width: 191px;
    float: left;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #ccc;
    background-color: brown;
    border-radius: 7px;
    
}
#esquerdo ul li{
    padding-left: 15px;
    background-color: brown;
}

#esquerdo li, #esquerdo li a{
    font: 12px verdana;
    text-decoration: none;
    color: white;  
    background-color: brown;  
}

#esquerdo li a{
    width: 165px;
    padding: 4px 0 3px 5px;
    display: block;
    border-bottom: inset 1px white;
    border-radius: 7px;
    
}

#esquerdo li, #esquerdo li a:hover{
    color: blue;    
}

#esquerdo li a:hover{
    background: white;
    border-bottom: fixed 1px blue;
}

.sessao{
    padding: 5px 0 40px 2px;
    height: 25px;
    font-size: 15px;
    font-family: verdana,arial,Helvetuca,sans-serif;color: #0099ff;
    background-color: burlywood;
    border-radius: 7px;
}

#direito{
    width: 760px;
    float: left;
    margin: 5px 0 0 5px;
    border: inset 1px #ccc;
    
} 




#esquerdo li a:hover{
    color: #069;
    background-color:#e6f5fb;
} 


/*===========formulario op_login=============*/
#formulario-login form{
    width: 220px;
    margin: 200px auto;
    border:2px solid #ccc;
}





#formulario-login fieldset{
    border: 0;
    padding: 0 15px 10px 15px;
}
#formulario-login legend
{
    font: 18px Tahoma, Geneva, sans-serif;
    color: black;
    font-weight: bold;
    padding: 10px 0;
}
#formulario-login label{
    display: block;
    padding: 3px 0;
}

#formulario-login span{display: block;
    font: 16px;
    color: black;}

#formulario-login input{
    padding: 3px;
    width: 180px;
    border: 1px solid #069;
    font: 16px Tahoma, Geneva, sans-serif;
    font-weight: bold;
}

#formulario-login .botao{
    width:120px;
    display:block;
    margin:10px auto;
    cursor:pointer;
    background:#069;
}

/*===========formulario categoria=============*/

#formulario-menor form{
    width: 350px;
    margin: 20px auto;
    border:2px solid #ccc;
}

#formulario-menor fieldset{
    border: 0;
    padding: 0 15px 10px 15px;
}
#formulario-menor legend{
    font: 18px Tahoma, Geneva, sans-serif;
    color: black;
    font-weight: bold;
    padding: 10px 0;
}
#formulario-menor label{
    display: block;
    padding: 3px 0;
}

#formulario-menor span{
    display: block;
    font: 16px;
    color: black;}

#formulario-menor input{
    padding: 3px;
    width: 300px;
    border: 1px solid #069;
    font: 16px Tahoma, Geneva, sans-serif;
    font-weight: bold;
}

#formulario-menor .botao{
    width:120px;
    display:block;
    margin:10px auto;
    cursor:pointer;
    background:#069;
}


#tb_categoria{
    width: 100%;
    border: 0;
    padding: 0;
    border-spacing: 1;
    background-color: whitesmoke;
}

#tb_categoria tr{
    background-color: brown;
}
#tb_categoria tr td{
    font-size: 2;
    font: verdana, arial;
}
#tb_categoria #cod{
    width: 15%;
    height: 2;
    font-size: 2;
    color: white;
}
#tb_categoria #cat{
    width: 60%;
    height: 2;
    font-size: 2;
    color: white;
}
#tb_categoria #ati{
    width: 15%;
    height: 2;
    font-size: 2;
    color: white;
}
#tb_categoria #opc{
    font-size: 2;
    color: white;
    columns: 2;
}

#tb_banner{
    width: 100%;
    border: 0;
    padding: 0;
    border-spacing: 1;
    background-color: whitesmoke;
}

#tb_banner tr{
    background-color: brown;
}
#tb_banner tr td{
    font-size: 2;
    font: verdana, arial;
}
#tb_banner #cod{
    width: 15%;
    height: 2;
    font-size: 2;
    color: white;
}
#tb_banner #cat{
    width: 60%;
    height: 2;
    font-size: 2;
    color: white;
}
#tb_banner #ati{
    width: 15%;
    height: 2;
    font-size: 2;
    color: white;
}
#tb_banner #opc{
    font-size: 2;
    color: white;
    columns: 2;
}

#tb_admin{
    width: 100%;
    border: 0;
    padding: 0;
    border-spacing: 1;
    background-color: whitesmoke;
}

#tb_admin tr{
    background-color: brown;
}
#tb_admin tr td{
    font-size: 2;
    font: verdana, arial;
}
#tb_admin #cod{
    width: 15%;
    height: 2;
    font-size: 2;
    color: white;
}
#tb_admin #cat{
    width: 60%;
    height: 2;
    font-size: 2;
    color: white;
}
#tb_admin #ati{
    width: 15%;
    height: 2;
    font-size: 2;
    color: white;
}
#tb_admin #opc{
    font-size: 2;
    color: white;
    columns: 2;
}

#tb_noticia{
    width: 100%;
    border: 0;
    padding: 0;
    border-spacing: 1;
    background-color: whitesmoke;
}

#tb_noticia tr{
    background-color: brown;
}
#tb_noticia tr td{
    font-size: 2;
    font: verdana, arial;
}
#tb_noticia #cod{
    width: 15%;
    height: 2;
    font-size: 2;
    color: white;
}
#tb_noticia #cat{
    width: 60%;
    height: 2;
    font-size: 2;
    color: white;
}
#tb_noticia #ati{
    width: 15%;
    height: 2;
    font-size: 2;
    color: white;
}
#tb_noticia #opc{
    font-size: 2;
    color: white;
    columns: 2;
}

#tb_post{
    width: 100%;
    border: 0;
    padding: 0;
    border-spacing: 1;
    background-color: whitesmoke;
}

#tb_post tr{
    background-color: brown;
}
#tb_post tr td{
    font-size: 2;
    font: verdana, arial;
}
#tb_post #cod{
    width: 15%;
    height: 2;
    font-size: 2;
    color: white;
}
#tb_post #cat{
    width: 60%;
    height: 2;
    font-size: 2;
    color: white;
}
#tb_post #ati{
    width: 15%;
    height: 2;
    font-size: 2;
    color: white;
}
#tb_post #opc{
    font-size: 2;
    color: white;
    columns: 2;
}

#tb_user{
    width: 100%;
    border: 0;
    padding: 0;
    border-spacing: 1;
    background-color: whitesmoke;
}

#tb_user tr{
    background-color: brown;
}
#tb_user tr td{
    font-size: 2;
    font: verdana, arial;
}
#tb_user #cod{
    width: 15%;
    height: 2;
    font-size: 2;
    color: white;
}
#tb_user #cat{
    width: 60%;
    height: 2;
    font-size: 2;
    color: white;
}
#tb_user #ati{
    width: 15%;
    height: 2;
    font-size: 2;
    color: white;
}
#tb_user #opc{
    font-size: 2;
    color: white;
    columns: 2;
}